.place__title {
    grid-area: title;
    margin: 0;
    font-style: normal;
    color: #fff;
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 1023px) {
    .place__title {
        max-width: 300px;
        font-size: 42px;
        line-height: 46px;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 1.1;
        margin: 0 16px;
    }
}