.page {
  width: 100%;
  max-width: 1280px;
  min-width: 300px;
  margin: auto;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #2A2C2F;
  overflow-x: hidden;
}