.photo-grid {
    max-width: 1184px;
    margin: 92px auto 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}


@media (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px;
        margin: 64px auto 0;
    }
}

@media (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        gap: 12px;
    }
}