.photo-grid {
    max-width: 1184px;
    margin: 92px 48px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(281px, 1fr));
    gap: 16px;
}


@media (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
        margin: 88px 48px 0;

    }
}

@media (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px;
        margin: 88px 24px 0;
    }
}

@media (max-width: 640px) {
    .photo-grid {
        width: calc(100% - 32px);
        margin: 64px 16px 0;
        gap: 12px;
    }
}