.places {
    margin: 0 auto;
    margin-top: 92px;
    width: calc(100% - 148px * 2);
    min-width: calc(1024px - 48px * 2);
}

@media screen and (max-width: 1279px) {
    .places {
        width: calc(100% - 48px * 2);
        min-width: calc(768px - 24px * 2);
        margin: 92px 48px 0;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        width: calc(100% - 24px * 2);
        min-width: 0;
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
        margin: 64px 0 66px;
    }
}