.cover__subtitle {
    width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin: 32px auto 0;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        margin-top: 24px;
        font-size: 16px;
        line-height: 1;
    }
}

@media screen and (max-width: 500px) {
    .cover__subtitle {
        margin-top: 16px;
        margin-bottom: 0;
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }
}