.footer__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:hover {
    opacity: .8;
    transition: .5s linear;
}


@media screen and (max-width: 767px) {
    .footer__link {
        padding-bottom: 32px;
        font-size: 24px;
        line-height: 1;
    }
}