.place__paragraph {
    max-width: 484px;
    margin: 0 0 26px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}


.place__paragraph:last-of-type {
    margin: 0;
}
@media screen and (max-width: 767px) {
    .place__paragraph:last-of-type {
        margin: 0 16px;
    }
}


@media screen and (max-width: 1023px) {
    .place__paragraph {
       max-width: 456px;
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        max-width: calc(100% - 16px * 2);
        margin: 0 16px 25px;
    }
 
  
}