.intro__text {
    max-width: 690px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin: 0 0 33px;
}

@media screen and (max-width: 767px) {
    .intro__text {
        font-weight: 400;
        line-height: 1.63;
        margin: 0 0 34px;
    }
}