.lead__caption {
    color: #fff;
    max-width: 158px;
    margin: 8px auto 0 0;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}